:root,
#plasmo-sidebar:host {
  --plasmo-sidebar-width: 280px;
}

body.plasmo-sidebar-show,
body.plasmo-sidebar-show * {
  max-width: calc(100vw - var(--plasmo-sidebar-width));
}

#plasmo-sidebar {
  position: fixed;
  z-index: 240;
  top: 0px;
  right: 0px;
}

#bookmark:hover {
  background-color: red;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
}
