:root,
#bookmark-sidebar:host {
  /* --bookmark-sidebar-width: 280px; */
}

body.bookmark-sidebar-show,
body.bookmark-sidebar-show * {
  /* max-width: calc(100vw - var(--bookmark-sidebar-width)); */
}

#bookmark-sidebar {
  position: fixed;
  z-index: 240;
  top: 0px;
  right: 0px;
}

#bookmark:hover {
  background-color: red;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
}

#modal {
  position: fixed;
  z-index: 250;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
